@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- CUSTOM SCROLLBAR (Look "Dark Console") --- */
/* Pour Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f1115;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Pour Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f1115;
}

body {
  background-color: #0f1115;
  color: #e2e8f0;
  margin: 0;
}